*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
button{
  outline: none;
  border: 0;
  border-radius: 7px;
  padding: 0 10px;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303a52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
  z-index: -1;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: 'consolas';
}

#myApp{
  width: 400px;
  height: 900px;
  background: linear-gradient(135deg, rgba(66,61,42,1) 5%, rgba(35,34,40,1) 50%);
  border-radius: 40px;
  padding: 20px 40px;
  position: relative;

  #top-nav{
    height: 100px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
      color: white;     
      cursor: pointer; 
    }
    :nth-child(3){
      font-size: 1rem;
      border-radius: 50%;
      border: 1px solid white;
      padding: 15px;
    }
    .toggle, .default, .active{
      width: 65px;
      height: 25px;
      border-radius: 20px;
      position: relative;    
      border: 2px solid white;
      &::before{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background: linear-gradient(135deg, rgba(66,61,42,1) 5%, rgba(35,34,40,1) 50%);
        border-radius: 50%;
        transition: .25s ease;
      }
      &.default{
        background: white;
        &::before{
          left: 0px;
        }
      }
      &.default.active{
        background: white;
        &::before{
          background: linear-gradient(135deg, rgba(66,61,42,1) 5%, rgba(35,34,40,1) 50%);
          left: 40px;
        }
      }
      
      
    }
  }

  #main{
    width: 100%;
    height: auto;
    overflow: hidden;
    .title{
      color: white;
      font-size: 1.8rem;
      font-weight: 900;
      span{
        font-size: 1.3rem;
        font-weight: 100;
      }
    }
    
    .menu-nav{
      .nav{
        margin-top: 30px;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-item{
          color: white;
          font-size: 1rem;
          display: flex;
          align-items: center;
          cursor: pointer;

          &.active{
            font-weight: bold;
            position: relative;
            display: flex;
            font-size: 1.2rem;
            &::before{
              content: '';
              position: absolute;
              background: #faee1c;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              top: 25%;
              right: -15px;
            }
          }
          &.filter{
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid white;
            padding: 12px;
          }
        }
      }
      .sort-box{
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        right: 1%;
        width: 30%;
        height: auto;
        margin: 5px 0;
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .option{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 5px 5px;
          font-weight: bold;
          font-size: 1.1rem;
          background: #faee1c;
          text-align: center;
        }
        &.active{
          visibility: visible;
        }
      }
    }

    .foods{
      transition: .25s ease-in;
      width: 100%;
      height: 500px;
      display: flex;
      margin-top: 30px;
      line-height: 30px;
      color: white;
      overflow: scroll;

      .food-category{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      .food-box{
        width: 50%;
        position: relative;
        text-align: center;
        margin: 20px 0;
        .food-pic{
          width: 150px;
          height: 150px;
          margin: auto;
          position: relative;
          img{
            margin: auto;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        
        .food-name{
          margin-top: 10px;
          font-size: 1.1rem;
        }
        .intro{
          font-size: .9rem;
        }
        .price{
          color: white;
        }
        .add-to-cart{
          display: block;
          i{
            padding: 10px 10px;
            background: black;
            border-radius: 50%;
            font-size: .7rem;
            font-weight: bold;  
            cursor: pointer;          
          }
          .fa-check{
            width: 50%;
            background: #17b978;
            border-radius: 30px;
            padding: 10px 6px;
          }
        }
      }
    }
  }

  #bottom-nav{
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid white;
    .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-item{
        color: white;
        font-size: 1.9rem;
        display: flex;
        align-items: center;
        i{
          cursor: pointer;
        }
        &:nth-child(3){
          font-size: 2.5rem;
          color: #fff;
          padding: 3px 9px;
          background: #eac100;
          border-radius: 50%;
          box-shadow: 0 0 20px #faee1c;
        }
        &:nth-child(4){
          position: relative;
        }
        span{
          width: 18px;
          height: 18px;
          position: absolute;
          top: 0;
          right: -10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .7rem;
          font-family: 'arial';
          font-weight: bold;
        }
      }
    }
  }
}